# Micdoodle Core Access Transformer configuration file

# Fields
public net.minecraft.world.chunk.Chunk field_76636_d # loaded
public net.minecraft.client.audio.MusicTicker *
public net.minecraft.entity.ai.goal.GoalSelector field_220892_d # goals
public net.minecraft.client.entity.player.ClientPlayerEntity field_203720_cz # counterInWater
public net.minecraft.entity.LivingEntity field_70773_bE # jumpTicks
public net.minecraft.network.play.ServerPlayNetHandler field_147365_f # floatingTickCount
public net.minecraft.client.gui.IngameGui field_73838_g # overlayMessage
public net.minecraft.world.gen.ChunkGenerator field_222540_a # world
public net.minecraft.inventory.container.Container field_75153_a # inventoryItemStacks
public net.minecraft.entity.player.PlayerEntity field_71076_b # sleepTimer

# Methods
