# CodeChickenLib Access Transformer
public net.minecraft.world.chunk.Chunk field_150816_i #chunkTileEntityMap
public net.minecraft.world.chunk.Chunk field_76636_d #isChunkLoaded
public net.minecraft.server.management.PlayerManager func_72690_a(IIZ)Lnet/minecraft/server/management/PlayerManager$PlayerInstance; #getOrCreateChunkWatcher
public net.minecraft.server.management.PlayerManager$PlayerInstance
public net.minecraft.server.management.PlayerManager$PlayerInstance func_151251_a(Lnet/minecraft/network/Packet;)V #sendToAllPlayersWatchingChunk
public net.minecraft.server.management.PlayerManager$PlayerInstance field_73263_b #playersWatchingChunk
