# CodeChickenLib Access Transformer
public net.minecraft.server.management.PlayerProfileCache$ProfileEntry
public net.minecraft.server.management.PlayerProfileCache field_152661_c # usernameToProfileEntryMap

public net.minecraft.client.renderer.VertexBuffer field_179010_r # isDrawing
public net.minecraft.client.renderer.VertexBuffer func_181667_k()V # nextVertexFormatIndex
public net.minecraft.client.renderer.texture.TextureAtlasSprite func_130102_n()V # resetSprite
public net.minecraft.client.renderer.texture.TextureAtlasSprite func_147962_a([[IIII)[[I # getFrameTextureData
public net.minecraft.client.renderer.texture.TextureAtlasSprite field_110982_k # animationMetadata
public net.minecraft.client.renderer.texture.TextureAtlasSprite func_130099_d(I)V # allocateFrameTextureData
public net.minecraft.client.renderer.texture.TextureMap field_94252_e # mapUploadedSprites

public net.minecraft.client.renderer.RenderItem field_175059_m # itemModelMesher
public net.minecraft.client.renderer.RenderItem field_175057_n # textureManager
public net.minecraft.client.renderer.RenderItem field_184395_f # itemColors
public net.minecraft.client.renderer.RenderItem func_175041_b()V # registerItems
public net.minecraft.client.renderer.RenderItem func_175048_a(Lnet/minecraft/item/Item;ILjava/lang/String;)V # registerItem
public net.minecraft.client.renderer.RenderItem func_184394_a(Lnet/minecraft/item/ItemStack;Lnet/minecraft/client/renderer/block/model/IBakedModel;Lnet/minecraft/client/renderer/block/model/ItemCameraTransforms$TransformType;Z)V # renderItemModel
public net.minecraft.client.renderer.RenderItem func_180452_a(IIZ)V # setupGuiTransform
public net.minecraft.client.renderer.RenderItem func_184390_a(Lnet/minecraft/item/ItemStack;IILnet/minecraft/client/renderer/block/model/IBakedModel;)V # renderItemModelIntoGUI

public net.minecraft.util.math.RayTraceResult field_178783_e # blockPos

#Block placement batcher stuff.
public net.minecraft.world.chunk.Chunk field_76652_q # storageArrays
public net.minecraft.world.chunk.Chunk field_76638_b # precipitationHeightMap
public net.minecraft.world.chunk.Chunk field_76634_f # heightMap

public net.minecraft.world.chunk.Chunk func_76615_h(III)V # relightBlock
public net.minecraft.world.chunk.Chunk func_76595_e(II)V # propagateSkylightOcclusion

#GlStateManagerHelper stuff.
public net.minecraft.client.renderer.GlStateManager field_179160_a # alphaState
public net.minecraft.client.renderer.GlStateManager field_179158_b # lightingState
public net.minecraft.client.renderer.GlStateManager field_179157_e # blendState
public net.minecraft.client.renderer.GlStateManager field_179154_f # depthState
public net.minecraft.client.renderer.GlStateManager field_179167_h # cullState
public net.minecraft.client.renderer.GlStateManager field_179172_r # rescaleNormalState

public net.minecraft.client.renderer.GlStateManager$AlphaState
public net.minecraft.client.renderer.GlStateManager$BooleanState
public net.minecraft.client.renderer.GlStateManager$BlendState
public net.minecraft.client.renderer.GlStateManager$DepthState
public net.minecraft.client.renderer.GlStateManager$CullState

public net.minecraft.client.renderer.GlStateManager$BooleanState field_179201_b # currentState

public net.minecraft.client.renderer.GlStateManager func_179107_e(I)V # cullFace

public net.minecraft.client.Minecraft field_175618_aM # blockRenderDispatcher
